.header-margin{
  margin: 0% 15%;
}
.main-content{
  margin: 0% 20%;
  min-height: 40%;
  overflow: hidden;
}
.profile-post{
  object-fit: cover;
  height: 40vh;
}
.overview{
  padding: 3% 7%;
}
.login-container{
  height: 100vh;
  display: flex;
  align-items: center;
}

